.transfer-list-container {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 60px;
  margin-left: 20px;
}

.transfer-list-container ul {
  border: 1px solid rgb(0, 0, 0);
  margin: 10px 0px 20px 0px;
  border-collapse: collapse;
}

.transfer-list-container li {
  padding: 3px;
  font-size: 12px;
}

.switch {
  max-height: 30px;
  padding: 5px;
  display: block;
  margin: 3px;
  font-size: 8px;
  width: 30px;
  transition-duration: 0.2s;
  border: 1px solid var(--g3-color__smoke);
  background-color: #fafbfb;
  color: #b9baba;
  cursor: default;
}

.switch.active:hover {
  background-color: #f1f6f9;
  color: #3483d6;
  border: 1px solid #1876d2;
}

.switch.active {
  border: 1px solid #91b8e7;
  color: #1e78d2;
  background-color: #fafbfb;
  cursor: pointer;
}

.transfer-list-list h4 {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}

.transfer-list-list li {
  font-size: 14px;
  padding: 7px;
}

.err-msg {
  color: red;
  font-size: 14px;
}
